artifactContent/src/main/resources/xsd/CustomMessageProcessing.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessageProcessingLog">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Status" type="xs:string" />
                    <xs:element name="IntegrationArtifact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:string" />
                          <xs:element name="PackageName" type="xs:string" />
                          <xs:element name="PackageId" type="xs:string" />
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="Name" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MessageGuid" type="xs:string" />
                    <xs:element name="LogStart" type="xs:dateTime" />
                    <xs:element name="Receiver" />
                    <xs:element name="LogEnd" type="xs:dateTime" />
                    <xs:element name="TransactionId" type="xs:string" />
                    <xs:element name="Sender" />
                    <xs:element name="ApplicationMessageId" />
                    <xs:element name="CorrelationId" type="xs:string" />
                    <xs:element name="IntegrationFlowName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Message2" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>